name: GraalVM Native Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  workflow_dispatch:
        
jobs:

  native-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        
      - name: Set up GraalVM Native Image toolchain
        id: graalvm-native-image-toolchain
        uses: helpermethod/graalvm-native-image-toolchain@0.0.1
        with:
          graalvm-version: 21.2.0
          java-version: 16
          
      - name: Java version
        run: java --version
        
      - name: GraalVM Native Image Version
        run: native-image --version
        
      - name: Microsoft C/C++ Compiler Version
        if: runner.os == 'Windows'
        run: cl.exe

