name: GraalVM Native Image

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '.github/workflows/test.yml'
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 5"
  workflow_dispatch:

jobs:
  native-build:
    name: GraalVM CE ${{ matrix.version }} JDK${{ matrix.java-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version: [ dev ]
        java-version: [ '20' ]
        components: [ 'native-image' ]
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    #   include:
    #     - os: ubuntu-18.04
    #       version: 'dev'
    #       java-version: '17'
    #       components: 'native-image'
    #     - os: macos-10.15
    #       version: 'dev'
    #       java-version: '17'
    #       components: 'native-image'
    #     - os: windows-2019
    #       version: 'dev'
    #       java-version: '17'
    #       components: 'native-image'

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup GraalVM CE Dev Build
        uses: graalvm/setup-graalvm@v1
        with:
          version: ${{ matrix.version }}
          java-version: ${{ matrix.java-version }}
          components: ${{ matrix.components }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Check environment
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version

      - name: Build and run App
        run: |
          javac -encoding UTF-8 Main.java
          native-image Main app
          ./app

      - name: Upload ${{ matrix.os }} app binary
        uses: actions/upload-artifact@v3
        with:
          name: app-${{ matrix.os }}
          path: app*
          if-no-files-found: error


  native-build-musl:
    name: GraalVM CE dev JDK19 + musl static image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup GraalVM CE Dev Build
        uses: graalvm/setup-graalvm@v1
        with:
          version: 'dev'
          java-version: '19'
          components: 'native-image'
          native-image-musl: 'true'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Build static app image with musl
        run: |
          javac Main.java
          native-image --static --libc=musl Main app-static
          ./app-static

      - name: Uploading app static binary
        uses: actions/upload-artifact@v3
        with:
          name: app-static-linux
          path: |
            app-static*
          if-no-files-found: error
